stamp-h1
Makefile
Makefile.in
*.pc
src/*.lo
src/*.o
src/*.la
src/.libs
src/.deps
src/Makefile
src/Makefile.in*
src/phoneui.h
configure
config.*
po/*.gmo
po/*.po~
po/POTFILES
po/*.pot
po/*.sin
po/*.sed
po/*.header
po/stamp-po
po/Makefile.in*
po/Makefile
po/Makevars.template
po/Rules-quot
po/stamp-po
data/*.edj
autom4te.cache
aclocal.m4
m4
ABOUT-NLS
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
